*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #555;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.top {
    height: 40vh;
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.35)), url(/img/back.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}